#search_area{
  width: 260px;
  height: 40px;
  background-color: #444444;
  box-shadow: 2px 2px rgb(37, 37, 37);
  border-radius: 10px;
  display: flex;
  justify-content: end;
  padding-top: 13px;
  padding-left: 30px;
  margin: auto;
}
#search_area button{
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    -webkit-box-shadow: 1px 2px 0px #666666;
    -moz-box-shadow: 1px 2px 0px #666666;
    box-shadow: 1px 2px 0px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #245279;
    padding: 2px 2px 2px 2px;
    border: solid #a1b5c2 1px;
    text-decoration: none;
}
#search_area input{
  width: 160px;
  height: 25px;
  text-align: center;
  border: 2px solid silver;
  color: rgb(219, 219, 219);
}